<form class="form__container">

    <p class="form__saisi">Veuillez ajouter un film</p>

    <input class="form__input" required type="text" name="name" placeholder="Saisissez le nom du film">
    <input class="form__input" required type="text" name="director" placeholder="Saisissez le nom du réalisateur">
    <input class="form__input" required type="number" name="year" placeholder="Saisissez la date de sortie" min="1900"
        max="2090">
    <input class="form__input" required type="number" name="length" placeholder="Saisissez la durée">
    <textarea class="form__textarea" required name="description" placeholder="Description du film"></textarea>
    <input class="form__input" required type="number" name="id_category" placeholder="Saisissez la catégorie du film">
    <input class="form__input" required type="text" name="image" placeholder="Veuillez saisir le fichier de l'image">
    <input class="form__input" required type="number" name="min_age" placeholder="Saisissez votre âge" min="10"
    max="100">
    <input class="form__input" required type="text" name="trailer"
        placeholder="Saisissez le lien de la vidéo du trailer">

    <input class="form__btn" onclick="{{handler}}" type="button" value="Ajouter un film" name="todo" />
</form>