<!-- <form class="form__container">

    <p class="form__saisi">Veuillez ajouter un film</p>

    <input class="form__input" required type="text" name="name" placeholder="Saisissez le nom du film">
    <input class="form__input" required type="text" name="director" placeholder="Saisissez le nom du réalisateur">
    <input class="form__input" required type="number" name="year" placeholder="Saisissez la date de sortie" min="1900"
        max="2090">
    <input class="form__input" required type="number" name="length" placeholder="Saisissez la durée">
    <textarea class="form__textarea" required name="description" placeholder="Description du film"></textarea>
    <input class="form__input" required type="number" name="id_category" placeholder="Saisissez la catégorie du film">
    <input class="form__input" required type="text" name="image" placeholder="Veuillez saisir le fichier de l'image">
    <input class="form__input" required type="number" name="min_age" placeholder="Saisissez votre âge" min="10"
    max="100">
    <input class="form__input" required type="text" name="trailer"
        placeholder="Saisissez le lien de la vidéo du trailer">

    <input class="form__btn" onclick="{{handler}}" type="button" value="Ajouter un film" name="todo" />
</form> -->


<div class="form">
    <h2 class="form__title">Ajouter un film</h2>
    <form class="form__container">
        <input required type="text" class="form__input" name="name" placeholder="Titre du film">
        <input required type="text" class="form__input" name="director" placeholder="Réalisateur">
        <input required type="number" class="form__input" name="year" placeholder="Année">
        <input required type="number" class="form__input" name="length" placeholder="Durée (minutes)">
        <select required class="form__input" name="id_category">
            <option value="">Sélectionner une catégorie</option>
            <option value="1">Action</option>
            <option value="2">Comédie</option>
            <option value="3">Drame</option>
            <option value="4">Science-fiction</option>
            <option value="5">Animation</option>
            <option value="6">Thriller</option>
            <option value="7">Horreur</option>
            <option value="8">Aventure</option>
            <option value="9">Fantaisie</option>
            <option value="10">Documentaire</option>
        </select>
        <input required type="number" class="form__input" name="min_age" placeholder="Age minimum">
        <input required type="text" class="form__input" name="image" placeholder="Nom de l'image">
        <input required type="text" class="form__input" name="trailer" placeholder="Lien du trailer">
        <textarea required class="form__textarea" name="description" placeholder="Description du film"></textarea>
        <button required class="form__btn" onclick="{{handlerAddMovie}}" type="button" value="Ajouter un film" name="todo">Ajouter</button>
    </form>
</div>