<footer id="footer" class="footer">
    <div class="footer__container">
            <div class="footer__content">
                    <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="footer__link">À propos</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Aide et FAQ</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Termes et Conditions</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Vie privée</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Accessibilité</a></li>
                    </ul>
                    <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="footer__link">Registre Publicitaire</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Publicité</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Légal</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Infolettre</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Paramètres des témoins</a></li>
                    </ul>
            </div>
            <div class="footer__copyright">
                    <p>&copy; 2024 NOOVO. Tous droits réservés.</p>
            </div>
    </div>
</footer>