<nav class="navbar">
  <input type="checkbox" id="navbar__toggle" class="navbar__toggle">
  <label for="navbar__toggle" class="navbar__burger">
      <span class="navbar__burger-line"></span>
      <span class="navbar__burger-line"></span>
      <span class="navbar__burger-line"></span>
  </label>
  
  <div class="navbar__logo">
    <img src="../server/images/noovo.svg" alt="Noovo Logo" class="navbar__logo-img">
  </div>
  
  <ul class="navbar__list" id="navbar__menu">
      <li class="navbar__item" onclick="C.handlerHome(); ">Home</li>
      <li class="navbar__item" onclick="{{hAbout}}; ">About</li>
      <li class="navbar__item" onclick="C.showFavorites(); ">Favoris</li>
      <li class="navbar__profile">
          <div class="navbar__profile-container">
              <img id="navbar__profileAvatar" src="{{avatarUrl}}" alt="Profile Avatar" class="navbar__profile-avatar hidden">
              <select required class="navbar__form__input" id="profileSelect" onclick="{{onProfileChange}}">
                  <option value="" disabled selected>Sélectionner un profil</option>
                  {{profileOptions}}
              </select>
          </div>
      </li>
  </ul>
</nav>
