<form class="profile">
    <h2 class="profile__title">Ajouter un profil</h2>
    <div class="profile__container" id="profile__container">
        <input type="text" class="profile__input" name="name" placeholder="Nom " required>
        <input type="text" class="profile__input" name="avatar" placeholder="Avatar" >
        <input class="profile__input" type="text" name="min_age" placeholder="Age minimum"  required >

        <input class="profile__btn" onclick="{{handlerUser}}" type="button" value="Crée un profil" name="todo"/>
    </div>
</form>