<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="C.handlerHome()">Home</li>
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
    <li class="navbar__item" onclick="C.showFavorites()">Favoris</li>
    <li class="navbar__item"> <!-- Ajoute ce li -->
      <div class="navbar__profile">
        <div class="navbar__profile-container">
          <img id="navbar__profileAvatar" src="{{avatarUrl}}" alt="Profile Avatar" class="navbar__profile-avatar hidden">
          <select required class="navbar__form__input" id="profileSelect" onclick="{{onProfileChange}}">
            <option value="" disabled selected>Sélectionner un profil</option>
            {{profileOptions}}
          </select>
        </div>
      </div>
    </li> <!-- Ferme le li -->
  </ul>
</nav>
