.addUserProfile{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 45rem;
    gap: 1rem;
    padding: 1.5rem;
    font-family: var(--ff-Bebas);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: rgba(39, 38, 38, 0.721);
}

.addUserProfile__input{
    border: solid 1px rgba(57, 55, 55, 0.605);
    height: 2rem;
    padding: 1rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.addUserProfile__title{
    color:rgba(255, 255, 255, 0.689);
    display: flex;
    justify-content: center;
    padding: 0;
}