<div class="addUserProfile"></div>
    <h1 class="addUserProfile__title"> Ajouter un Profil</h1>
    <form class="addUserProfile__form">
        <input class="addUserProfile__input" type="text" name="name" placeholder="Nom " required>
        <input class="addUserProfile__input" type="text" name="avatar" placeholder="Avatar" >
        <input class="addUserProfile__input" type="text" name="min_age" placeholder="Age minimum"  required >
        <input class="addUserProfile__input" onclick="{{handler}}" type="button" value="Ajouter" name="todo">
    </form>
</div>