.desc-card{
    height: 100vh;
    width: 100%;
    background:linear-gradient(to top right, rgba(0, 0, 0, 0.637) 50%, rgba(0, 0, 0, 0.77) 90%), var(--bg-card);
    /* background-image: url(../Card/assets/spiderman.jpg); */
    background-size: cover;
    
    /* object-fit: ; */
    background-repeat: no-repeat;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.desc-card__details-container{
    position: relative;
    top: 20rem;
    left: 2rem;
    font-family: var(--ff-sans);
    
}

.desc-card__title{
    color:white;
    font-size: 3rem;
}

.desc-card__description{
    /* padding-right: 70rem; */
    width: 20rem;
    color: white;
}

.desc-card__detailsul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

.desc-card__detailsli{
    list-style: none;
}

.desc-card__details{
    color: white;
}

span{
    background-color: grey;
    padding: 0.25rem;
    border-radius: 5px;
}

.desc-card__iframe{
    /* position: relative;
    transform: translateX(80rem); */
    /* top: -30rem; */
    border: none;
}


@media screen and (max-width: 600px) {
    .desc-card__details-container {
        width: 100%;
        position: relative;
        top: 10rem;
        left: 2rem;
        font-family: var(--ff-sans);
    }

    .desc-card__iframe{
        width: 19rem;
        height: 17rem;
    }
  }