<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section class="desc-card" style="--bg-card:url('../../../server/images/interstellar.jpg')" alt="images">
        <div class="desc-card__details-container">
            <h1 class="desc-card__title">Spiderman</h1>
            <p class="desc-card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ea hic repudiandae vitae odit deleniti ut dolore reiciendis. Officia ea dolor repudiandae a quisquam ullam ipsa perferendis dolore iste sunt!</p>
            <div class="desc-card__details">
                <ul class="desc-card__detailsul">
                    <li class="desc-card__detailsli">Réalisateur</li>
                    <li class="desc-card__detailsli">Durée</li>
                    <li class="desc-card__detailsli">Date</li>
                    <li class="desc-card__detailsli"><span>Age</span></li>
                    <li class="desc-card__detailsli"><span>Catégorie</span></li>
                </ul>
            </div>
        </div>
    </section>
    
</body>
</html>